.swiper {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 15px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}


